
@media (max-width : 900px) {
    #game-container {
        margin: 0 !important;
        width: auto !important;
        border: none !important;
        -ms-transform: scale(.75,.75); /* IE 9 */
        -webkit-transform: scale(.75,.75); /* Safari */
        transform: scale(.75,.75); /* Standard syntax */;
        overflow: visible !important;
    }
}

@media (max-width : 10000px) {
    #game-container {
        margin: 0 auto;
        width: 900px;
        border: 2px black solid;
    }
}